

<table border="1">
    <tr>
        <td>Nom</td>
        <td>Class</td>
    </tr>
    {% for equipe in equipes  %}
    <tr><td>{{ equipe.nom }}</td><td> {{ equipe.class }}</td></tr>
    {% endfor %}
</table>




